.molecule-tr-thead
  @extends $molecule-tr
  border-left 1px solid $light-primary-color
  border-right  1px solid $light-primary-color

.molecule-tr-tbody
  @extends $molecule-tr

.molecule-tr-tbody:hover
  background $light-primary-color
  cursor default
  transition(all, 0.4s, linear)