body
  padding 2%

.titulo
  font-size rem(50px)
  color default-color

h1
  font rem(25px) sans-serif
  color title-color
  margin 30px 0

.ng-modal-dialog
  min-height 100px
  z-index 10000
  position absolute
  top 20px
  right 20px
  box-shadow 2px 2px 10px #333
  text-align center
  padding 0 20px
  color #fff
  gradient-linear(#1390DD, #47A5E0)
  transition(all, 0.9s, linear)
  opacity(0.9)
