.ng-modal
  transition(all, 0.5s, linear)
  opacity(0.9)
  visibility visible

.ng-modal.ng-hide
  visibility hidden
  opacity(0)

.ng-modal-dialog
  width 100%
  text-align center
  padding 18px 10px
  color #fff
  background-color $contrast-color
  z-index 10000
  margin-top 15px

  @media (min-width $tablet-size)
    width 350px
    padding 40px 20px
    position absolute
    top 80px
    right 20px
    margin-top 0