h1.atom-title-page Clientes
div
  table.organism-simple-table
    thead
      tr.molecule-tr-thead
        th.atom-th-thead Razão Social
        th.atom-th-thead CPF / CNPJ
        th.atom-th-thead Telefone
        th.atom-th-thead Data de Cadastro
        th.atom-th-thead.atom-th-small Editar
        th.atom-th-thead.atom-th-small Remover
    tbody
      tr.molecule-tr-tbody(data-ng-repeat='client in clients', data-ng-class="{'odd-row': $index % 2 == 1, 'even-row': $index % 2 == 0}")
        td.atom-td-tbody {{client.razaoSocial}}
        td.atom-td-tbody(data-ng-hide='!client.cpf') {{client.cpf}}
        td.atom-td-tbody(data-ng-hide='!client.cnpj') {{client.cnpj}}
        td.atom-td-tbody {{client.telefone}}
        td.atom-td-tbody {{client.data | date:'dd/MM/yyyy HH:mm'}}
        td.atom-td-tbody.atom-td-small
          a(data-ng-href='{{systemUri.getEditClient(client._id)}}')
            img(src="./image/icon-edit.png", alt="Editar", title="Editar Cliente", width="22", height="22")
        td.atom-td-tbody.atom-td-small
          span(data-ng-controller="ClientRemoveController", style="cursor: pointer")
            a(data-ng-click='remove(client)')
              img(src="./image/icon-remove.png", alt="Remover", title="Remover Cliente", width="22", height="22")
  div.empty-message(data-ng-hide='clients.length > 0') Não há Clientes cadastrados
div.atom-button-novo
  a.atom-link-button(data-ng-href='{{systemUri.getCreateClient()}}') Novo
div {{status}}