table-color = #1390DD

.table-client
  width 55%

.table-client
  text-align center
  padding 0
  font-family arial, verdana;

.table-client img
  margin-top 5px

.table-client thead tr
  background table-color
  color #fff
  height 40px
  border 1px solid #ccc
  gradient-linear(table-color, #47A5E0)

.odd-row
  background #fff
  color #333
  height 40px
  transition(all, 0.4s, linear)

.even-row
  @extends .odd-row
  gradient-linear(#eee, #f4f4f4)
  transition(all, 0.4s, linear)

.odd-row:hover,
.even-row:hover
  background #bfdef2
  cursor default
  transition(all, 0.4s, linear)

.table-client tbody td
  border 1px solid #ccc

.button-cliente
  width 100px
  height 35px
  font-size rem(18px)
  text-align center
  line-height 35px
  border-radius 4px
  margin-top 20px
  border 1px solid #333
  color #fff
  cursor pointer
  box-shadow 0px 0px 5px #666
  transition(all, 0.2s, linear)

.button-hover
  transition(all, 0.2s, linear)
  box-shadow none

.button-novo-cliente
  gradient-linear(table-color, #47A5E0)
  @extends .button-cliente

.button-novo-cliente:hover
  @extends .button-hover

.button-save-cliente
  gradient-linear(#0c8e31, #30b245)
  @extends .button-cliente

.button-novo-cliente a
  color #fff
  display block

.button-container-cliente
  width 220px
  @extends .grid-between

.button-save-cliente:hover
  @extends .button-hover

.button-cancel-cliente
  gradient-linear(#b21c26, #d8202c)
  @extend .button-cliente

.button-cancel-cliente:hover
  @extends .button-hover

.empty-message
  width 55%;
  height 45px
  line-height 45px
  text-align center
  border 1px solid #ccc

.form-cadastro
  width 50%;

.column-label
  color #333
  font-size rem(18px)
  margin 5px

.column-input input
  color #666
  width 100%
  height 35px
  font-size rem(20px)
  padding 5px
  margin-bottom 10px

.column-input input:focus
  outline none
  box-shadow: 0 0 2px #999
  border 1px solid #999
  transition(all, 0.4s, linear)

.column-input input:focus:valid
  box-shadow: 0 0 2px #0f0

.column-input input:focus:invalid
  box-shadow: 0 0 2px #f00

.radio-container
  position absolute
  right 0

input[type=radio]
  margin 0 3px 0 10px

.container-documento
  position relative

.link-voltar
  position absolute
  bottom 2%

.link-voltar a
  color table-color