.form-login
  @extends .form
  width 30%

.button-login
  @extends .button
  gradient-linear(default-color, #47A5E0)

.link-singup
  margin-top 30px

.link-singup a
  color default-color

.button-container-login
  @extends .grid-between