h1.atom-title-page Efetuar Login
div
  form.molecule-form-login(name="form_login", data-ng-submit="login(user)")
    div
      label.atom-label-login(for="username") Usuário
    div
      input.atom-input-login(type="text", name="username", data-ng-model="user.username", required)
    div
      label.atom-label-login(for="password") Senha
    div
      input.atom-input-login(type="password", name="password", data-ng-model="user.password", required)

    div.atom-grid-between
      input.atom-button-login(type="submit", value="Entrar")
      div
        a.atom-link-login(data-ng-href='{{systemUri.getSignup()}}') Cadastre-se
include ../../main/views/modal
div {{status}}
