h1 Efetuar Login
div.form-login
  form(name="form_login", data-ng-submit="login(user)")
    div.column-label
      label(for="username") Usuário
    div.column-input
      input(type="text", name="username", data-ng-model="user.username", required)
    div.column-label
      label(for="password") Senha
    div.column-input
      input(type="password", name="password", data-ng-model="user.password", required)
    div.button-container-login
      input.button-login(type="submit", value="Entrar")
      div.link-singup
        a(href='/mean-seed/signup/') Cadastrar

