doctype html
html(data-ng-app="app")
  head
    meta(charset='utf8')
    base(href='/')
    title= "Mean Seed"
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='css/index.css')
    link(rel='shortcut icon', href='image/favicon.ico', type='image/x-icon')
  body
    block body