nav.organism-simple-nav
  ul#menu-principal.molecule-ul-nav
    li.atom-li-nav
      a.atom-link-nav(data-ng-href="{{systemUri.getHome()}}",
        data-toggle-component data-target-id="menu-principal") Clientes
    li.atom-li-nav
      a.atom-link-nav(href="#",
        data-toggle-component data-target-id="menu-principal") Usuários
    li.atom-li-nav
      a.atom-link-nav(href="#", data-ng-controller="LoginController", data-ng-click="signout()",
        data-toggle-component data-target-id="menu-principal") Sair
