$primary-color = #3F51B5
$dark-primary-color = #303F9F
$light-primary-color = #C5CAE9
$icons-text-color = #FFF
$contrast-color = #FF5722
$primary-text-color = #212121
$secundary-text-color = #212121
$light-text-color = #B6B6B6