
<nav class="organism-simple-nav">
  <ul id="menu-principal" class="molecule-ul-nav">
    <li class="atom-li-nav"><a data-ng-href="{{systemUri.getHome()}}" data-toggle-component="data-toggle-component" data-target-id="menu-principal" class="atom-link-nav">Clientes</a></li>
    <li class="atom-li-nav"><a href="#" data-toggle-component="data-toggle-component" data-target-id="menu-principal" class="atom-link-nav">Usuários</a></li>
    <li class="atom-li-nav"><a href="#" data-ng-controller="LoginController" data-ng-click="signout()" data-toggle-component="data-toggle-component" data-target-id="menu-principal" class="atom-link-nav">Sair</a></li>
  </ul>
</nav>