.atom-title-page
  @extends $atom-title
  margin 15px 0 0 10px

.atom-title-header
  @extends $atom-title
  font-size rem(22px)
  color #FFF
  width 120px
  margin-top 15px

  @media (min-width $tablet-size)
    width 140px
    font-size rem(25px)

  @media (min-width $desktop-size)
    margin 18px 0 0 10px