.atom-link-login
  @extend $atom-link
  margin-top 10px

.atom-link-login:hover
  @extend $atom-link-hover

.atom-link-sigup
  @extend $atom-link
  margin-top 10px

.atom-link-sigup:hover
  @extend $atom-link-hover

.atom-link-save
  @extend $atom-link
  margin-top 10px

.atom-link-save:hover
  @extend $atom-link-hover