.atom-grid-around
  display block

  @media (min-width $desktop-size)
    display flex
    justify-content space-around

.atom-grid-between
  display block

  @media (min-width $desktop-size)
    display flex
    justify-content space-between


.atom-grid-start
  display block

  @media (min-width $desktop-size)
    display flex
    justify-content flex-start

.atom-grid-end
  display block

  @media (min-width $desktop-size)
    display flex
    justify-content flex-end

.atom-grid-reverse
  display block

  @media (min-width $desktop-size)
    display flex
    justify-content flex-start
    flexbox-direction row-reverse
