.atom-title-page
  @extends $atom-title
  margin 15px 0 0 10px

.atom-title-header
  @extends $atom-title
  font-size rem(22px)
  color #FFF
  width 120px
  margin 15px 0 0 10px
  position absolute

  @media (min-width $tablet-size)
    width 140px
    font-size rem(25px)
    margin-top 18px
