.atom-input-login
  @extends $atom-input
  margin 5px 0 15px 0

.atom-input-login:focus
  @extends $atom-input-focus

.atom-input-login:focus:valid
  @extends $atom-input-focus-valid

.atom-input-login:focus:valid
  @extends $atom-input-focus-invalid

.atom-input-sigup
  @extends $atom-input
  margin 5px 0 15px 0

.atom-input-sigup:focus
  @extends $atom-input-focus

.atom-input-sigup:focus:valid
  @extends $atom-input-focus-valid

.atom-input-sigup:focus:invalid
  @extends $atom-input-focus-invalid

.atom-input-save
  @extends $atom-input
  margin 5px 0 15px 0

.atom-input-save:focus
  @extends $atom-input-focus

.atom-input-save:focus:valid
  @extends $atom-input-focus-valid

.atom-input-save:focus:valid
  @extends $atom-input-focus-invalid