.atom-button-login
  @extends $atom-button

.atom-button-login:hover
  @extends $atom-button-hover

.atom-button-sigup
  @extends $atom-button

.atom-button-sigup:hover
  @extends $atom-button-hover

.atom-button-edit
  @extends $atom-button
  background-color #1976D2

.atom-button-edit:hover
  @extends $atom-button-hover
  background-color #536DFE

.atom-button-salvar
  @extends $atom-button
  background-color #4CAF50

.atom-button-salvar:hover
  @extends $atom-button-hover
  background-color #388E3C

.atom-button-cancelar
  @extends $atom-button
  background-color #F44336

.atom-button-cancelar:hover
  @extends $atom-button-hover
  background-color #D32F2F

